<a href="https://colab.research.google.com/github/medllynthayna/Analise_Dados/blob/master/exerc%C3%ADcios_anatel_mg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![anatel](img/anatel_logo.png "Logo Anatel")

# Análise de Dados da Anatel em Minas Gerais (2006 - 2019)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

A Agência Nacional de Telecomunicaçõe ([Anatel](https://www.anatel.gov.br/institucional/)) foi criada em 16 de julho de 1997 com o objetivo de regular o setor de telecomunicações para contribuir com o desenvolvimento do Brasil. Neste estudo iremos explorar o conjunto de dados das **Reclamações Registradas na Anatel** no estado de Minas Gerais durante os anos de 2006 até 2019. Os dados foram baixaados do  website [Dados Abertos](http://www.dados.gov.br/dataset/solicitacoesregistradasnaanatel) e o [Dicionário de Dados Oficial](data/Reclamações_Glossário_e_Metadados.pdf) está disponível na pasta: [`data/Reclamações_Glossário_e_Metadados.pdf`](data/Reclamações_Glossário_e_Metadados.pdf).

## Exercícios
Faça as questões abaixo usando somente a biblioteca [pandas](https://pandas.pydata.org/).

1. Importe o pacote **pandas** como o nome pd.

In [90]:
import numpy as np

import pandas as pd

2. Carregue em memória o conjunto de dados disponível na pasta [`data/anatel_mg_2006_2019.csv`](data/anatel_mg_2006_2019.csv) para uma variável chamada **df**.

In [91]:
df = pd.read_csv('anatel_mg_2006_2019.csv')

3. Quantas linhas e quantas colunas foram carregadas em memória?

In [92]:
df.shape

(8930, 12)

4. Mostre as 5 primeiras linhas do *dataset*.

In [93]:
df.head()

  DataExtracao   Ano  Mes  ...               Motivo  UF QtdeSolic
0   2016-04-28  2006    1  ...        Interferência  MG       3.0
1   2016-04-28  2006    1  ...              Outorga  MG       8.0
2   2016-04-28  2006    1  ...             Cobrança  MG       1.0
3   2016-04-28  2006    1  ...  Serviços Adicionais  MG       1.0
4   2016-04-28  2006    1  ...             Clonagem  MG       1.0

[5 rows x 12 columns]

5.  Quais são os tipos de dados de cada uma das colunas?

In [94]:
df.dtypes

DataExtracao      object
Ano                int64
Mes                int64
CanalEntrada      object
Condicao          object
GrupoEconNorm     object
Tipo              object
Servico           object
Modalidade        object
Motivo            object
UF                object
QtdeSolic        float64
dtype: object

6. Mostre a quantidade de colunas para cada um dos tipos de dados.

In [ ]:
df.dtypes.value_counts()

object     9
int64      2
float64    1
dtype: int64

7. Mostre as informações básicas do DataFrame.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8930 entries, 0 to 8929
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DataExtracao   8930 non-null   object
 1   Ano            8930 non-null   int64
 2   Mes            8930 non-null   int64
 3   CanalEntrada   8930 non-null   object
 4   Condicao       8930 non-null   object
 5   GrupoEconNorm  8930 non-null   object
 6   Tipo           8930 non-null   object
 7   Servico        8930 non-null   object
 8   Modalidade     8930 non-null   object
 9   Motivo         8930 non-null   object
 10  UF             8930 non-null   object
 11  QtdeSolic      8929 non-null   float64
dtypes: float64(1), int64(2), object(9)
memory usage: 837.3+ KB

8. Verifique se existem dados ausentes (*misssing data*) no conjunto de dados.

In [ ]:
df.isnull().values.any()

True

9. Qual é o número total de dados ausentes?

In [ ]:
df.isnull().sum().sum()

1

10. Qual é o número total de dados ausentes por coluna?

In [ ]:
df.isnull().sum()

DataExtracao     0
Ano              0
Mes              0
CanalEntrada     0
Condicao         0
GrupoEconNorm    0
Tipo             0
Servico          0
Modalidade       0
Motivo           0
UF               0
QtdeSolic        1
dtype: int64

11. Remova todos os dados ausentes encontrados.

In [ ]:

df.dropna(subset=['QtdeSolic'], inplace = True)

df.isnull().sum()

DataExtracao     0
Ano              0
Mes              0
CanalEntrada     0
Condicao         0
GrupoEconNorm    0
Tipo             0
Servico          0
Modalidade       0
Motivo           0
UF               0
QtdeSolic        0
dtype: int64

12. Selecione o serviço que possui o maior número de solicitações `QtdeSolic` na Anatel.

In [ ]:
pd.crosstab(df['Servico'].max(), df['QtdeSolic'])

QtdeSolic                0.0    1.0    2.0    3.0    ...  264.0  275.0  316.0  332.0
row_0                                                ...
Troncalizado (Trunking)      1   4586   1307    664  ...      1      1      1      1

[1 rows x 170 columns]

13. Qual é o menor número de solicitações `QtdeSolic` na Anatel.

In [ ]:
pd.crosstab(df['Servico'].min(), df['QtdeSolic'])

QtdeSolic         0.0    1.0    2.0    3.0    ...  264.0  275.0  316.0  332.0
row_0                                         ...
Limitado Privado      1   4586   1307    664  ...      1      1      1      1

[1 rows x 170 columns]

14. Mostre todas as linhs iguais ao menor número de solicitações `QtdeSolic` na Anatel.

In [95]:
df.loc[df.QtdeSolic == np.min(df.QtdeSolic)]

     DataExtracao   Ano  Mes  ...                             Motivo  UF QtdeSolic
2      2016-04-28  2006    1  ...                           Cobrança  MG       1.0
3      2016-04-28  2006    1  ...                Serviços Adicionais  MG       1.0
4      2016-04-28  2006    1  ...                           Clonagem  MG       1.0
5      2016-04-28  2006    1  ...                             Reparo  MG       1.0
6      2016-04-28  2006    1  ...                       Cancelamento  MG       1.0
...           ...   ...  ...  ...                                ...  ..       ...
8922   2016-04-28  2006   10  ...                       Cancelamento  MG       1.0
8923   2016-04-28  2006   10  ...                Mudança de endereço  MG       1.0
8924   2016-04-28  2006   10  ...                Serviços Adicionais  MG       1.0
8925   2016-04-28  2006   10  ...                    Auxílio à Lista  MG       1.0
8927   2016-04-28  2006   10  ...  Instalação de Acessos Individuais  MG       1.0

[4586 rows x 12 columns]

15. Mostre as contagens de solicitações `QtdeSolic` por tipo de serviço `Servico`.

In [ ]:
df.groupby('Servico').QtdeSolic.describe()

                                                     count  ...    max
Servico                                                     ...
Limitado Privado                                     106.0  ...   14.0
Móvel Pessoal                                       4361.0  ...  332.0
Outros                                                39.0  ...    5.0
Radioamador (PY)                                      65.0  ...    8.0
Radiodifusão (Rádio e TV)                            289.0  ...   33.0
Rádio do Cidadão (PX)                                 49.0  ...    3.0
Serviço Móvel Aeronáutico                              1.0  ...    1.0
Serviço Telefônico Fixo Comutado - STFC             2602.0  ...  264.0
Serviço de Comunicação Multimídia                     96.0  ...   41.0
Serviço de Rede e Transporte de Telecomunicaçõe...   531.0  ...  174.0
Serviços da Anatel                                   295.0  ...   25.0
TV por Assinatura                                    484.0  ...   14.0
Troncalizado (Trunking)                               12.0  ...    2.0

[13 rows x 8 columns]

16. Ao longo dos anos mostre o número de solicitações por mês?

In [97]:
ano= df.groupby(['Ano', 'Mes'])['QtdeSolic'].sum()
ano

Ano   Mes
2006  1      6234.0
      2      5120.0
      3      6762.0
      4      5992.0
      5      6736.0
      6      6551.0
      7      5893.0
      8      5725.0
      9      5555.0
      10     5883.0
Name: QtdeSolic, dtype: float64

17. Crie o vetor **reclamacoes** com todos os dados que cuja coluna `Tipo` seja igual a "Reclamação".

In [99]:
reclamacoes = np.where(df['Tipo'] == "Reclamação")[0]
len(reclamacoes)

7002

18. Mostre o número total de solictiações `QtdeSolic` de reclamações para cada tipo de serviço `Servico`

In [ ]:

df.groupby('Servico').QtdeSolic.count()

Servico
Limitado Privado                                            106
Móvel Pessoal                                              4361
Outros                                                       39
Radioamador (PY)                                             65
Radiodifusão (Rádio e TV)                                   289
Rádio do Cidadão (PX)                                        49
Serviço Móvel Aeronáutico                                     1
Serviço Telefônico Fixo Comutado - STFC                    2602
Serviço de Comunicação Multimídia                            96
Serviço de Rede e Transporte de Telecomunicações - SRTT     531
Serviços da Anatel                                          295
TV por Assinatura                                           484
Troncalizado (Trunking)                                      12
Name: QtdeSolic, dtype: int64

19. Quais são os maiores ou maior motivo de solicitação de reclamações?

In [ ]:
df['Motivo'].value_counts()

Cobrança                 1346
Atendimento               778
Reparo                    550
Cancelamento              508
Bloqueio                  485
                         ...
Frequência                  1
Plano Básico de Rádio       1
Contribuições               1
Cópia                       1
Plano Básico de TV          1
Name: Motivo, Length: 77, dtype: int64

20. Faça um agrupamento de dados pela coluna `GrupoEconNorm`, mostrando um sumário estatístico da quantidade solicitações `QtdeSolic`.

In [ ]:
df.groupby('GrupoEconNorm').QtdeSolic.describe()

                count       mean        std  min  25%  50%  75%    max
GrupoEconNorm
ALGAR           719.0   3.037552   5.657591  1.0  1.0  1.0  3.0   62.0
Anatel         1837.0   2.487207   4.245140  1.0  1.0  1.0  2.0   53.0
BLUE             42.0   1.452381   0.832346  1.0  1.0  1.0  2.0    5.0
CLARO           568.0   4.522887   8.390355  1.0  1.0  2.0  4.0   73.0
EMBRATEL         33.0   1.030303   0.174078  1.0  1.0  1.0  1.0    2.0
GVT              18.0   1.000000   0.000000  1.0  1.0  1.0  1.0    1.0
Intelig          76.0   1.565789   0.942840  1.0  1.0  1.0  2.0    5.0
NET             722.0   6.907202  19.260344  1.0  1.0  2.0  5.0  224.0
NEXTEL           10.0   1.200000   0.421637  1.0  1.0  1.0  1.0    2.0
OI             2461.0   9.801707  25.697784  0.0  1.0  2.0  5.0  264.0
Outros          908.0   6.943833  16.609270  1.0  1.0  2.0  5.0  152.0
SKY              77.0   1.207792   0.675466  1.0  1.0  1.0  1.0    5.0
TIM            1051.0  13.814462  34.968432  1.0  1.0  2.0  8.0  332.0
VIVO            408.0   2.105392   2.367090  1.0  1.0  1.0  2.0   22.0